/**
 * @file
 * Visual styles for buttons.
 */
@use '../_tokens'; // ensures token overrides are applied
@use 'base' as base; // BaseKit's base module via includePaths

/* Core button controls */
button,
.button a,
input.button,
a.button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  padding: base.$link-pad;
  color: base.$white;
  background: rgba(base.$color-2, 0.8);
  border: base.$border-dark;

  &:link,
  &:visited {
    text-decoration: none;
    color: base.$white;
    background: rgba(base.$color-2, 0.8);
    border: base.$border-dark;
  }

  &:hover,
  &:focus {
    color: base.$white;
    background-color: rgba(base.$color-3, 1);
    border: base.$border-dark;
    outline: base.$stroke-1 solid rgba(base.$white, 0.8);
    outline-offset: 0.01em;
  }

  &:active {
    transform: scale(0.97);
    background-color: rgba(base.$color-2, 1);
  }

  &:last-child {
    margin-right: 0;
  }
}

/* Legacy utility spacing for theme buttons */
.button,
.image-button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}
