@use '../tokens' as site;
@use 'base' as *;

.block-type--hero_headline.block-view-mode--default {
  --hero-headline-icon-width: #{site.$hero-icon-width};
  --hero-headline-icon-height: #{site.$hero-icon-height};

  .block-wrap .title h2 {
    font-family: var(--font-heading-narrow);
    font-size: $font-size-h2;
    color: site.$hero-heading-color;
  }
}
