@use '../base' as *;

.block-type--banner_announcement.block-view-mode--banner_announcement_01 {
  padding: 0;
  /* nested */

  .block-wrap {
    /* block wrap sets the display type */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10em auto auto;
  }

  .block-wrap > * {
    /* block wrap sets the display type */
  }

  .image {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    padding-top: $block-pad-top;
  }

  .image img,
  .image svg {
    width: 6.5em;
    height: auto;
  }

  .image svg path {
    fill: $color-1;
  }

  .title {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0;
    align-self: end;
    padding-right: $block-pad-right;
    padding-bottom: 0;
    padding-left: $block-pad-left;
    display: flex;
    justify-content: center;
  }

  .title h3 {
    color: $color-1;
    margin-bottom: 0.125em;
    font-weight: 700;
  }

  .content {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: $block-pad-right;
    padding-left: $block-pad-left;
  }

  .content .text p {
    font-size: $font-size-body * 0.95;
    line-height: $line-height-body * 1.1;
    text-align: center;
  }

  .content .text a:link,
  .content .text a:visited {
    display: inline-block;
    font-size: 0.65em;
    line-height: 2em !important;
  }

  .content .text a:before {
    display: block;
    width: 1em;
    height: 1em;
  }

  .content .space {
    display: block;
  }

  a.block-wrap,
  a.block-wrap:hover {
    text-decoration: none;
  }

  a.block-wrap:hover * {
    text-decoration: none;
    color: inherit;
  }

  /* /nested */
}

/* ***************************************** */
@media all and (min-width: 768px) {
  /* page layout for desktop screens */

  .block-type--banner_announcement.block-view-mode--banner_announcement_01 {
    /* begin nested styles */

    .block-wrap {
      grid-template-columns: auto 11em;
      grid-template-rows: auto;
    }

    // .block-wrap > * {
    //   border: 1px solid saddlebrown;
    // }

    .block-wrap.wlabel {
      grid-template-rows: auto auto;
    }

    .image {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-top: $block-pad-top * 0.5;
      padding-right: $block-pad-right;
      padding-bottom: $block-pad-bottom * 0.5;
      padding-left: 0;
      align-self: center;
    }

    .wlabel .image {
      grid-row: 1/3;
    }

    .image img,
    .image svg {
      width: 10em;
      height: auto;
    }

    .wlabel .title {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-top: $block-pad-top;
      padding-right: $block-pad-right;
      padding-bottom: 0;
      padding-left: $block-pad-left;
      align-self: end;
      display: flex;
      justify-content: flex-start;
    }

    .title h3 {
      text-align: left;
    }

    .content {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-right: $block-pad-right;
      padding-left: $block-pad-left;
      align-self: center;
    }

    .wlabel .content {
      grid-row: 2/3;
    }

    .content .text p {
      text-align: left;
    }

    /* /end nested styles */
  }

  /* /desktop */
}
