@use '../base' as *;

.block-type--banner_announcement.block-view-mode--banner_announcement_02 {
  padding: 0; /* override block-pop settings */
  border: 2px solid red;
  /* nested */

  .block-wrap {
    /* block wrap sets the display type */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8em auto;
    text-align: left;
    @include desktop-small {
      grid-template-columns: auto 9em;
      grid-template-rows: auto auto;
    }
  }

  .block-wrap.wlabel {
    grid-template-rows: 8em auto auto;
    @include desktop-small {
      grid-template-columns: auto 9em;
      grid-template-rows: auto auto auto;
    }
  }

  .image {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: $block-pad-top * 0.5;
    padding-bottom: $block-pad-bottom * 0.5;
    display: flex;
    justify-content: center;
    @include desktop-small {
      grid-column: 2/3;
      grid-row: 1/3;
      padding-top: $block-pad-top * 0.5;
      padding-right: 0;
      padding-bottom: $block-pad-bottom * 0.5;
      padding-left: 0;
      align-self: center;
      border-left: $stroke-1 solid rgba($color-1, 0.5);
    }
  }

  .image img,
  .image svg {
    height: 7em;
    @include desktop-small {
      width: 6em;
      height: auto;
    }
  }

  .image svg path {
    fill: $color-1;
  }

  .wlabel {
    .title {
      grid-column: 1/2;
      grid-row: 2/3;
      padding-bottom: 0;
      display: flex;
      justify-content: center;
      @include desktop-small {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: $block-pad-top * 0.75;
        padding-right: $block-pad-right * 0.5;
        padding-bottom: 0;
        padding-left: $block-pad-left;
        justify-content: start;
        align-items: end;
      }
    }
    @include desktop-small {
      .image {
        grid-row: 1/4;
      }
    }
    @include desktop-small {
      .content {
        grid-row: 3/4;
        padding-top: 0;
        align-self: start;
        justify-content: start;
      }
    }
  }

  .title h3 {
    color: $color-1;
    margin-bottom: 0.125em;
    font-weight: 700;
  }

  .content {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-right: $block-pad-right;
    padding-left: $block-pad-left;
    padding-bottom: $block-pad-bottom;
    @include desktop-small {
      grid-column: 1/2;
      grid-row: 1/3;
      padding-top: $block-pad-top;
      padding-right: $block-pad-right;
      padding-left: $block-pad-left;
      padding-bottom: $block-pad-bottom;
      align-self: center;
      align-items: start;
      justify-content: start;
    }
  }

  .content .text {
    font-size: $font-size-body * 0.9;
    text-align: center;
    @include desktop-small {
      font-size: $font-size-body * 0.9;
      text-align: left;
    }
  }

  .content .text a:link,
  .content .text a:visited {
    font-size: 0.7em;
  }

  .content .text a:active {
    background-color: rgba($white, 1);
    color: rgba($white, 1);
  }

  a.display-link {
    border-radius: $block-border-radius;
  }

  a.display-link:hover {
    border-color: rgba($color-2, 1);
  }

  a.display-link:active {
    border-color: rgba($color-1, 1);
  }

  /* /nested */
}
