@use '../base' as *;

.block-type--banner_announcement.block-view-mode--default {
  padding-right: $block-pad-right * 1.5;
  padding-left: $block-pad-left * 1.5;
  border: 2px solid $color-3;
  /* begin nested styles */

  .block-wrap {
    grid-template-rows: 5em auto;
    grid-template-columns: auto;
  }

  .block-wrap.wlabel {
    grid-template-rows: auto auto auto;
  }

  .image {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }

  .wlabel .image {
  }

  .image img,
  .image svg {
    width: 100%;
    height: auto;
  }

  .image svg path {
    fill: $color-3;
  }

  .title h3 {
    color: $color-1;
    margin-bottom: 0.125em;
    font-weight: 700;
  }

  .content {
  }

  .content .text {
    font-size: $font-size-body * 0.9;
    line-height: $line-height-body * 1.1;
  }

  .content .text > *:last-child {
    margin-bottom: 0;
  }

  .content .text p span.copy {
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    display: block;
  }

  .content .text a:link,
  .content .text a:visited {
    display: block;
    font-size: 0.65em;
    vertical-align: middle;
    margin-left: 0;
    line-height: 2em !important;
    margin-top: 1em;
  }

  /* /end nested styles */
}

/* ***************************************** */
@media all and (min-width: 768px) {
  /* page layout for desktop screens */

  .block-type--banner_announcement.block-view-mode--default {
    padding-right: $block-pad-right * 1.5;
    padding-left: $block-pad-left * 1.5;
    /* begin nested styles */

    .block-wrap {
      display: grid;
      grid-template-columns: 13em auto;
      grid-template-rows: auto;
    }

    // .block-wrap > * {
    //   border: 1px solid green;
    // }

    .block-wrap.wlabel {
      grid-template-rows: auto auto;
    }

    .image {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-right: $siteg * 3;
    }

    .wlabel .image {
      grid-row: 1/3;
    }

    .image img,
    .image svg {
      width: 100%;
      height: auto;
    }

    .wlabel .title {
      grid-row: 1/2;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    .content {
      grid-row: 1/2;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wlabel .content {
      grid-row: 2/3;
      grid-column: 2/3;
      flex-direction: column;
      justify-content: start;
    }

    .content .text p span.copy {
      text-align: left;
      display: inline-block;
      vertical-align: middle;
    }

    .content .text a:link,
    .content .text a:visited {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1em;
      position: relative;
      top: -0.4em;
    }

    /* /end nested styles */
  }

  /* /desktop */
}
