@forward 'block--block-content--view-type--banner-announcement--banner-announcement-01';
@forward 'block--block-content--view-type--banner-announcement--banner-announcement-02';
@forward 'block--block-content--view-type--banner-announcement--default';
