// Inside your _body-copy.scss (or another mixins partial)
@use '../../base/var/var_default' as *;
@use '../../base/var/mixins' as *;

@mixin body-style {
  h1, h2, h3, h4, h5, h6, p, ul, li, blockquote {
    margin-top: 0;
    padding: 0;
  }
 h2 {}

 h3 {
  font-size: 2.4em;
 }

  p,
  li {
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: left;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
  }

  .align-center,
  .text-align-center {
    text-align: center;
  }
  
  a.button {
    color: $white;
    padding: 1em 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .125em;
    @include headingtext;
    border-radius: 2em;
    &.teal {
      background-color: $teal;
    }
    &.orange {
      background-color: $orange;
    }
    &.violet {
      background-color: $violet;
    }
    &:hover {
      opacity: .8;
    }
    &:active {
      opacity: 1;
    }
  }
}