@use 'var_default' as vars;
@use 'mixins' as *;

@mixin body-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  blockquote {
    margin-top: 0;
    padding: 0;
  }

  h2 {
    // Optional h2 style override can go here
  }

  h3 {
    font-size: 2.4em;
  }

  p,
  li {
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: left;
    font-family: vars.$font-body;
    font-weight: 400;
  }

  .align-center,
  .text-align-center {
    text-align: center;
  }

  a.button {
    color: vars.$white;
    padding: 1em 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    @include headingtext;
    border-radius: 2em;

    &.teal {
      background-color: vars.$color-3; // Adjust if $teal is defined elsewhere
    }

    &.orange {
      background-color: vars.$color-2;
    }

    &.violet {
      background-color: vars.$color-1;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }
}
