@use 'var_default' as vars;
/* include the load effects */
@forward 'load-effects';

/* breakpoint mixins */

@mixin desktop-small {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-medium {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-large {
  @media all and (min-width: 1365px) {
    @content;
  }
}

@mixin desktop-max {
  @media all and (min-width: 1920px) {
    @content;
  }
}

/* /breakpoint mixins */



@mixin fullwidth {
  & > * {
    background-color: aqua;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@mixin fitwidth {
  & > * {
    background-color: aqua;
    width: 1800px;
    margin: 0 auto;
  }
}

@mixin headingtext {
  font-style: normal;
  font-weight: 800;
  font-family: vars.$font-heading;
  text-transform: uppercase;
  strong,
  b {
    font-weight: 900;
  }
}

@mixin bodytext {
  font-style: normal;
  font-weight: 400;
  font-family: vars.$font-body;
  strong,
  b {
    font-weight: 700;
  }
  .light {
    font-weight: 400;
  }
}

@mixin uline {
  display: inline-block;
  position: relative;
  z-index: 0;
  span {
    &:after {
      // border: 1px solid red;
      display: block;
      position: absolute;
      width: 105%;
      left: -2.5%;
      bottom: -.2em;
      height: .5em;
      content: ' ';
      background-image: url(../images/underline.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;  
      z-index: -1;
    }
  }
}

@mixin input-form-text {
  padding: 0 .5em;
  height: 2.5em;
  border: 1px solid #999;
  background-color: rgb(250 250 250);
  &::placeholder {
    text-transform: uppercase;
  }
}

@mixin social-logos {
  display: flex;
  padding: 1em 0;
  justify-content: center;
  p.icon {
    margin: 0;
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;
    flex-grow: 0;
    flex-shrink: 0;
    a:link,
    a:visited {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      overflow: hidden;
      color: transparent;
      background-position: 0 0;
      background-size: contain;
    }
  }
  .instagram a {
    background-image: url(../images/instagram-icon.svg);
  }
  .facebook a {
    background-image: url(../images/facebook-icon.svg);
  }
}

@mixin btn {
  color: vars.$white;
  height: 3.75em;
  padding: .5em 3em;
  background-color: vars.$black;
  border-radius: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  font-family: vars.$font-heading;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: none;
  &:hover {
    opacity: .9;
  } 
}

@mixin form-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
  
@mixin form-item {
  flex-basis: 100%;
  padding: 1.5em 2em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-spacing:0;
  border-collapse: collapse;
  flex: 1;
  margin-bottom:0;
}



@mixin form-actions {
  margin-top:$siteg * 2;
}

@mixin form-label {
  padding: .5em;
  font-size: 1.1em;
  margin-bottom: .25em;
}

  @mixin details-wrapper {
    border: 1px solid vars.$white;
  }
  

  @mixin form-50 {
    flex-basis: 50%;
  }
  
  @mixin form-33 {
    flex-basis: 33%;
  }
  
  @mixin form-25 {
    flex-basis: 25%;
  }
  
@mixin grid-columns($cols, $dcols) {
/* grid-2-4-flex */
  --cols: #{$cols};
  --dcols: #{$dcols};
  --gap: #{$siteg};
  display: flex;
  flex-wrap: wrap;
  gap: $siteg;
  & > *,
  .view-content > .views-row {
    flex-basis: calc((100% / var(--cols, 1)) - (((var(--cols, 1) - 1) * var(--gap, 0)) / var(--cols, 1)));
    @include desktop-small {
      $siteg: 20px;
      flex-basis: calc((100% / var(--dcols, 1)) - (((var(--dcols, 1) - 1) * var(--gap, 0)) / var(--dcols, 1)));
    }
  }
}

@mixin blur {
  filter: blur(15px);
}
