@use 'var_default' as vars;

// Forward any other partials (only if this file is meant to re-export them)
@forward 'load-effects';

// ========================================
// Breakpoint Mixins
// ========================================

@mixin desktop-small {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-medium {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-large {
  @media all and (min-width: 1365px) {
    @content;
  }
}

@mixin desktop-max {
  @media all and (min-width: 1920px) {
    @content;
  }
}

@mixin body-h2 {
  font-size: vars.$font-size-h2;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  letter-spacing: -0.03em;
  font-family: vars.$font-heading;
  color: vars.$color-h2;
  font-weight: vars.$font-weight-h2;
  &:after {
    margin-top: 0.4em;
    border-bottom: 2px solid vars.$color-h2;
    display: flex; /* prevent border-bottom from overlapping floats */
    content: '';
  }
}

@mixin body-h3 {
  font-size: vars.$font-size-h3;
  letter-spacing: -0.03em;
  font-family: vars.$font-heading;
  margin-top: 0;
  margin-bottom: 2em;
  color: vars.$color-h3;
  font-weight: vars.$font-weight-h3;
}

@mixin body-h4 {
  font-size: vars.$font-size-h4;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: vars.$font-weight-h2;
}

@mixin body-h5 {
  font-size: vars.$font-size-h5;
  margin-top: 0;
  margin-bottom: 1em;
  color: vars.$gray;
}

@mixin body-h6 {
  font-size: vars.$font-size-h6;
  margin-top: 0;
  margin-bottom: 0.5em;
}

// ========================================
// Typography
// ========================================

@mixin headingtext {
  font-style: normal;
  font-weight: 700;
  font-family: vars.$font-heading;

  strong,
  b {
    font-weight: 900;
  }
}

@mixin bodytext {
  font-style: normal;
  font-weight: 300;
  font-family: vars.$font-body;

  strong,
  b {
    font-weight: 500;
  }

  .light {
    font-weight: 100;
  }
}

@mixin uline {
  display: inline-block;
  position: relative;
  z-index: 0;

  span {
    &::after {
      display: block;
      position: absolute;
      width: 105%;
      left: -2.5%;
      bottom: -0.2em;
      height: 0.5em;
      content: '';
      background-image: url(../images/underline.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}
