@use 'var_default' as vars;

// Forward any other partials (only if this file is meant to re-export them)
@forward 'load-effects';

// ========================================
// Breakpoint Mixins
// ========================================

@mixin desktop-small {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-medium {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-large {
  @media all and (min-width: 1365px) {
    @content;
  }
}

@mixin desktop-max {
  @media all and (min-width: 1920px) {
    @content;
  }
}

@mixin body-h2 {
  font-size: vars.$font-size-h2;
  margin-top: 0;
  margin-bottom: 3em;
  padding-bottom: 0.5em;
  letter-spacing: -0.03em;
  font-family: vars.$font-heading;
  &:after {
    margin-top: 0.4rem;
    border-bottom: 2px solid red;
    display: flex; /* prevent border-bottom from overlapping floats */
    content: '';
  }
}

@mixin body-h3 {
  font-size: vars.$font-size-h3;
  letter-spacing: -0.3em;
  font-family: vars.$font-heading;
  margin-top: 0;
  margin-bottom: 2em;
}

@mixin body-h4 {
  font-size: vars.$font-size-h4;
  letter-spacing: -0.3em;
  margin-top: 0;
  margin-bottom: 2em;
}

@mixin body-h5 {
  font-size: vars.$font-size-h5;
  margin-top: 0;
  margin-bottom: 1em;
  color: gray;
}

@mixin body-h6 {
  font-size: vars.$font-size-h6;
  margin-top: 0;
  margin-bottom: 0.5em;
}
@mixin font-body {
  font-family: Roboto, sans-serif;
}

// ========================================
// Layout Mixins
// ========================================

@mixin fullwidth {
  & > * {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@mixin fitwidth {
  & > * {
    width: 1800px;
    margin: 0 auto;
  }
}

@mixin grid-columns($cols, $dcols) {
  --cols: #{$cols};
  --dcols: #{$dcols};
  --gap: #{vars.$siteg};
  display: flex;
  flex-wrap: wrap;
  gap: vars.$siteg;

  & > *,
  .view-content > .views-row {
    flex-basis: calc(
      (100% / var(--cols, 1)) -
        (((var(--cols, 1) - 1) * var(--gap, 0)) / var(--cols, 1))
    );

    @include desktop-small {
      flex-basis: calc(
        (100% / var(--dcols, 1)) -
          (((var(--dcols, 1) - 1) * var(--gap, 0)) / var(--dcols, 1))
      );
    }
  }
}

@mixin blur {
  filter: blur(15px);
}

// ========================================
// Typography
// ========================================

@mixin headingtext {
  font-style: normal;
  font-weight: 800;
  font-family: vars.$font-heading;
  text-transform: uppercase;

  strong,
  b {
    font-weight: 900;
  }
}

@mixin bodytext {
  font-style: normal;
  font-weight: 400;
  font-family: vars.$font-body;

  strong,
  b {
    font-weight: 700;
  }

  .light {
    font-weight: 400;
  }
}

@mixin uline {
  display: inline-block;
  position: relative;
  z-index: 0;

  span {
    &::after {
      display: block;
      position: absolute;
      width: 105%;
      left: -2.5%;
      bottom: -0.2em;
      height: 0.5em;
      content: '';
      background-image: url(../images/underline.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}

// ========================================
// Forms
// ========================================

@mixin input-form-text {
  padding: 0 0.5em;
  height: 2.5em;
  border: 1px solid #999;
  background-color: rgb(250, 250, 250);

  &::placeholder {
    text-transform: uppercase;
  }
}

@mixin form-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@mixin form-item {
  flex-basis: 100%;
  padding: 1.5em 2em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-spacing: 0;
  border-collapse: collapse;
  flex: 1;
  margin-bottom: 0;
}

@mixin form-actions {
  margin-top: vars.$siteg * 2;
}

@mixin form-label {
  padding: 0.5em;
  font-size: 1.1em;
  margin-bottom: 0.25em;
}

@mixin details-wrapper {
  border: 1px solid vars.$white;
}

@mixin form-50 {
  flex-basis: 50%;
}

@mixin form-33 {
  flex-basis: 33%;
}

@mixin form-25 {
  flex-basis: 25%;
}

// ========================================
// UI Elements
// ========================================

@mixin btn {
  color: vars.$white;
  height: 3.75em;
  padding: 0.5em 3em;
  background-color: vars.$black;
  border-radius: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  font-family: vars.$font-heading;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

@mixin social-logos {
  display: flex;
  padding: 1em 0;
  justify-content: center;

  p.icon {
    margin: 0;
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;
    flex-grow: 0;
    flex-shrink: 0;

    a:link,
    a:visited {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      overflow: hidden;
      color: transparent;
      background-position: 0 0;
      background-size: contain;
    }
  }

  .instagram a {
    background-image: url(../images/instagram-icon.svg);
  }

  .facebook a {
    background-image: url(../images/facebook-icon.svg);
  }
}
