/* variables */

$sitew: 100vw;

$m-pagew: 100vw;
$d-pagew: 1800px;

$m-pagep: 1.5em !default; /* mobile horz page padding */
$d-pagep: 2.5em !default; /* desktop horz page padding */

$font-heading: "alternate-gothic-extra-cond", sans-serif;
$font-subhead: "interstate-condensed", sans-serif;
$font-body: "basic-sans", sans-serif;

/*
Basic Sans Regular
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: normal;
Basic Sans Regular It
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: italic;
Basic Sans Bold
font-family: "basic-sans", sans-serif;
font-weight: 700;
font-style: normal;
Basic Sans Bold It
font-family: "basic-sans", sans-serif;
font-weight: 700;
font-style: italic;

Alternate Gothic Extra Cond ATF Regular
font-family: "alternate-gothic-extra-cond", sans-serif;
font-weight: 400;
font-style: normal;
Alternate Gothic Extra Cond ATF Heavy
font-family: "alternate-gothic-extra-cond", sans-serif;
font-weight: 800;
font-style: normal;
Alternate Gothic Extra Cond ATF Black
font-family: "alternate-gothic-extra-cond", sans-serif;
font-weight: 900;
font-style: normal;
*/

/*
Acumin Pro Regular
font-family: "acumin-pro", sans-serif;
font-weight: 400;
font-style: normal;
Acumin Pro Italic
font-family: "acumin-pro", sans-serif;
font-weight: 400;
font-style: italic;
Acumin Pro Bold
font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal;
Acumin Pro Bold Italic
font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: italic;
*/


$font-body-largest: 2em;
$font-body-larger: 1.6em;
$font-body-normal: 1.3em;
$font-body-smaller: 1.1em;
$font-body-smallest: 1em;

$font-heading-largest: 3.2em;
$font-heading-larger: 2.8em;
$font-heading-normal: 2.4em;
$font-heading-smaller: 2em;
$font-heading-smallest: 1.75em;

/* page layout positioning */
$m-page-header: 7em !default; /* height of the page header for desktop and mobile */
$d-page-header: 6em !default;
$siteg: 1.2em !default; /* site gutter width for columns */

$m-page-footer: 5em !default;
$d-page-footer: 5em !default;
$m-section-h2-height: 2em !default;
$d-section-h2-height: 2em !default;
$sidebar-left: 20em;
$sidebar-right: 15em;

/* colors */
$teal: #05c3cf;
$violet: #cc7fcc;
$orange: #ff9638;

$color-1: #968c78 !default; /* primary - brand color */
$color-2: #c9a764 !default; /* secondary - contrast color */
$color-3: #7ba1af !default; /* highlight color - looks good behind text */
$gray: #959595 !default; /* neutral gray */
$gray-dark: #6d6863 !default; /* darker gray */
$white: #FFFFFF !default; /* white */
$red: #FC6969 !default; /* red - warning */
$green: #B4DC7F !default; /* green - tips */
$yellow: #F0D27B !default; /* yellow - notes */
$black: #000000 !default; /* black */
$color-text: $gray-dark !default;
$color-text-on-dark: $white !default;
$color-text-on-light: $gray-dark !default;

/* fonts */
/* body */
$font-weight-body: 100 !default;
$font-size-body: 1.7em !default; /* use for main body-copy, content */
$line-height-body: 1.35em !default;
/* headings */
$font-size-small: $font-size-body * .9 !default; /* use for labels, captions, notes */
/* h1 */
$font-weight-h1: normal !default;
$font-size-h1: $font-size-body * 2.5 !default;
$line-height-h1: 1em !default;
$color-h1: $color-2;
/* h2 */
$font-weight-h2: 100 !default;
$font-size-h2: $font-size-body * 1.9 !default;
$line-height-h2: 1.15em !default;
$color-h2: $color-3;
/* h3 */
$font-weight-h3: 700 !default;
$font-size-h3: $font-size-body * 1.2 !default;
$line-height-h3: 1.15em !default;
$color-h3: $color-1;
/* h4 */
$font-weight-h4: 500 !default;
$font-size-h4: $font-size-body * 1.1 !default;
$line-height-h4: 1.15em !default;
$color-h4: $color-1;
/* h5 */
$font-weight-h5: 100 !default;
$font-size-h5: $font-size-body * 1.05 !default;
$line-height-h5: 1.15em !default;
$color-h5: $color-1;

/* stroke */
$stroke-1: .125em !default;
$stroke-2: .25em !default;
$stroke-3: .5em !default;

/* border */
$border-light: .05em solid #CCC !default;
$border-dark: .1em solid #333 !default;

/* table */
$table-font-size: 1em !default;
$table-cell-padding-top: 1.1em !default;
$table-cell-padding-right: 1.1em !default;
$table-cell-padding-bottom: 1.1em !default;
$table-cell-padding-left: 1.1em !default;
$table-cell-padding: $table-cell-padding-top $table-cell-padding-right $table-cell-padding-bottom $table-cell-padding-left !default;

/* body and page */
$site-bgcolor:  #4f4a47 !default; /* site body background color */
$page-bgcolor: #635d59 !default; /* site page content background color */
$body-align: center !default; /* align all content in the site body */
$page-align: left !default; /* align the page content */

/* sections */
$section-bgcolor: $color-2 !default;

/* blocks */
$block-bgcolor: transparent !default;
$block-pad-top: 2em !default;
$block-pad-right: 2em !default;
$block-pad-bottom: 2em !default;
$block-pad-left: 2em !default;
$block-border-radius: $siteg * .25 !default;
$block-pad: $block-pad-top $block-pad-right $block-pad-bottom $block-pad-left !default;

/* nav variables */
$nav-align: center !default;
$link-pad-top: 1em !default;
$link-pad-right: 1em !default;
$link-pad-bottom: 1em !default;
$link-pad-left: 1em !default;
$link-pad: $link-pad-top $link-pad-right $link-pad-bottom $link-pad-left !default;
$m-link-size: 1.05em !default;
$d-link-size: 1.05em !default;
$link-height: 3em !default;
$link-space:.25em !default;
$d-link-space:.25em !default;
$link-radius:.25em !default;

/* default menu links */

/* menu links - link color */
$link-color: $black !default;
$link-hover-color: $color-1 !default;
$link-click-color: $color-1 !default;
$link-border: $stroke-1 solid rgba($color-1, .3) !default;

/* menu links - background color */
$link-bgcolor: rgba($site-bgcolor, .975) !default;
$link-hover-bgcolor: rgba(transparent, 0) !default;
$link-click-bgcolor: rgba($color-1, .3) !default;

/* menu links - border weight, stroke and color */
$link-border: $stroke-1 solid rgba($color-3, .5) !default;
$link-hover-border: $stroke-1 solid rgba($color-1, .75) !default;
$link-click-border: $stroke-1 solid rgba($color-1, 1) !default;

/* active menu links */

/* active menu links - active item link color */
$link-isactive-color: $white !default;
$link-isactive-hover-color: $white !default;
$link-isactive-click-color: $color-1 !default;

/* active menu links - active item background color */
$link-isactive-bgcolor: $color-2 !default;
$link-isactive-hover-bgcolor: $color-2 !default;
$link-isactive-click-bgcolor: rgba($color-1, .2) !default;

/* active menu links - active item border color */
$link-isactive-border: $stroke-1 solid rgba(transparent, 0) !default;
$link-isactive-hover-border: $stroke-1 solid rgba(transparent, 0) !default;
$link-isactive-click-border: $stroke-1 solid $white !default;

/* table variables */
$td-bg: green;

/******************/
/* form variables */
/******************/
$form-input-size-m: 1.6em;
$form-input-size-d: 1.1em;
$form-pad: 1em !default;
$form-border: $stroke-1 solid rgba($color-1, .5) !default;

/* wraps around form items */
$form-wrap-border: $stroke-1 solid rgba($color-1, .5) !default;
$form-wrap-pad: $siteg * .25 !default;
$form-wrap-bgcolor: rgba($color-1, .05) !default;
$form-summary-size: 1.1em !default;

/* form-items */
$form-item-pad: 1.25em !default;
$form-item-border: $stroke-1 solid rgba($color-1, .5) !default;
$form-item-after: 3em !default;
/* form item labels */
$form-label-size: 1.1em !default;

/* form text inputs */
$form-input-border: 1px solid rgba($site-bgcolor, .5) !default;
$form-input-pad: .75em .5em !default;
$form-input-color: $color-1;
$form-input-size: $font-size-body !default;
$form-input-bgcolor: $white !default;

/* form select fields */
$form-select-pad: .75em 1.5em .75em .75em;
$form-select-bgcolor: $form-input-bgcolor;
$form-select-border: $form-input-border;
$form-select-size: $form-input-size;

/* buttons */
$button-size: $font-size-body !default;
$button-height: 1.85em !default;
$button-pad-top: 0 !default;
$button-pad-right: .75em !default;
$button-pad-bottom: 0 !default;
$button-pad-left: .75em !default;
$button-pad: $button-pad-top $button-pad-right $button-pad-bottom $button-pad-left !default;
$button-radius: .25em !default;
/* button colors */
$button-color: $white !default;
$button-bgcolor: $color-2 !default;
$button-border: $stroke-1 solid rgba(transparent, 0) !default;
/* button - hover */
$button-hover-color: $white !default;
$button-hover-bgcolor: rgba($color-2, .5) !default;
$button-hover-border: $button-border !default;
/* button - click */
$button-click-color: $site-bgcolor !default;
$button-click-bgcolor: $color-1 !default;
$button-click-border: $stroke-1 solid rgba($color-2, 1) !default;
/* button - active */
$button-active-color: $color-2;
$button-active-bgcolor: $color-2 !default;
$button-active-border: $stroke-1 solid $color-2 !default;

/* https://base64.guru/converter/encode/image/svg */

$page-image-custom: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MDAgNTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0JGQUU0MTt9Cgkuc3Qxe3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoxLjE1NzQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8Zz4KCTxwYXRoIGQ9Ik0zNDUuNSwwaC0zMTV2NTAwaDQzOVYxMjRMMzQ1LjUsMHogTTQ0MC41LDQ3MWgtMzgxVjI5aDI3NGwxMiwxMnY4M2g4M2wxMiwxMlY0NzF6Ii8+Cgk8cmVjdCB4PSIxMjUiIHk9IjI1MS4yIiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgoJPHJlY3QgeD0iMTI1LjUiIHk9IjMxMy4zIiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgoJPHJlY3QgeD0iMTI1LjUiIHk9IjM3NS41IiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgo8L2c+Cjwvc3ZnPgo=");

$page-image-config: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MDAgNTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0JGQUU0MTt9Cgkuc3Qxe3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoxLjE1NzQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8Zz4KCTxwYXRoIGQ9Ik0zNDUuNSwwaC0zMTV2NTAwaDQzOVYxMjRMMzQ1LjUsMHogTTQ0MC41LDQ3MWgtMzgxVjI5aDI3NGwxMiwxMnY4M2g4M2wxMiwxMlY0NzF6Ii8+Cgk8cmVjdCB4PSIxMjUiIHk9IjI1MS4yIiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgoJPHJlY3QgeD0iMTI1LjUiIHk9IjMxMy4zIiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgoJPHJlY3QgeD0iMTI1LjUiIHk9IjM3NS41IiB3aWR0aD0iMjQ5LjUiIGhlaWdodD0iMjguNiIvPgo8L2c+CjxwYXRoIGQ9Ik0yNTMuMSwxMjQuMUgxMzcuOGMtNywwLTEyLjgsNS43LTEyLjgsMTIuOHY3OC43YzAsNyw1LjcsMTIuOCwxMi44LDEyLjhoMTE1LjRjNywwLDEyLjgtNS43LDEyLjgtMTIuOHYtNzguNwoJQzI2NS45LDEyOS45LDI2MC4yLDEyNC4xLDI1My4xLDEyNC4xeiBNMjExLjIsMjA3LjNoLTMxLjRsMTAuMi0zMS4yYy01LjktMi4yLTEwLjItOC0xMC4yLTE0LjdjMC04LjcsNy0xNS43LDE1LjctMTUuNwoJczE1LjcsNywxNS43LDE1LjdjMCw2LjktNC40LDEyLjctMTAuNiwxNC44TDIxMS4yLDIwNy4zeiIvPgo8L3N2Zz4K");

$page-image-article: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MDAgNTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0JGQUU0MTt9Cgkuc3Qxe3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoxLjE1NzQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8Zz4KCTxwYXRoIGQ9Ik0zNDUuNSwwaC0zMTV2NTAwaDQzOVYxMjRMMzQ1LjUsMHogTTQ0MC41LDQ3MWgtMzgxVjI5aDI3NGwxMiwxMnY4M2g4M2wxMiwxMlY0NzF6Ii8+Cgk8cmVjdCB4PSIxMjUuNSIgeT0iMzEzLjMiIHdpZHRoPSIyNDkuNSIgaGVpZ2h0PSIyOC42Ii8+Cgk8cmVjdCB4PSIxMjUuNSIgeT0iMzc1LjUiIHdpZHRoPSIyNDkuNSIgaGVpZ2h0PSIyOC42Ii8+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMjQ2LjYsMjYyLjR2LTEwLjJWMTQ2LjF2LTEwLjJjMC0zLjgtMi42LTYuOS01LjgtNi45aC0zLjZjLTMuMiwwLTUuOCwzLjEtNS44LDYuOXY1LjVsLTU5LjUsMTBjLTMuMywwLjYtNiw0LjMtNiw4LjMKCQkJdjc4LjljMCw0LDIuNyw3LjcsNiw4LjNsNTkuNSwxMHY1LjVjMCwzLjgsMi42LDYuOSw1LjgsNi45aDMuNkMyNDQsMjY5LjMsMjQ2LjYsMjY2LjIsMjQ2LjYsMjYyLjR6Ii8+CgkJPHBhdGggZD0iTTEzOC45LDE1My44Yy0xMC41LDAtMTksMTAuMi0xOSwyMi42djQ1LjNjMCwxMi41LDguNiwyMi42LDE5LDIyLjZoMTUuMnYtOTAuNUgxMzguOXoiLz4KCTwvZz4KCTxwYXRoIGQ9Ik0yOTYsMjA4LjFoLTE5LjhjLTUsMC05LTQtOS05czQtOSw5LTlIMjk2YzUsMCw5LDQsOSw5UzMwMC45LDIwOC4xLDI5NiwyMDguMXoiLz4KCTxwYXRoIGQ9Ik0yNjkuMiwxNjVjLTMuNSwwLTYuOC0yLTguMy01LjRjLTItNC42LDAuMS05LjksNC43LTExLjhsMTguNi04LjFjNC42LTIsOS45LDAuMSwxMS44LDQuN2MyLDQuNi0wLjEsOS45LTQuNywxMS44CgkJbC0xOC42LDguMUMyNzEuNiwxNjQuNywyNzAuNCwxNjUsMjY5LjIsMTY1eiIvPgoJPHBhdGggZD0iTTI4Ny44LDI1OS4zYy0xLjIsMC0yLjQtMC4yLTMuNi0wLjdsLTE4LjYtOC4xYy00LjYtMi02LjctNy4zLTQuNy0xMS44YzItNC42LDcuMy02LjcsMTEuOC00LjdsMTguNiw4LjEKCQljNC42LDIsNi43LDcuMyw0LjcsMTEuOEMyOTQuNSwyNTcuMywyOTEuMiwyNTkuMywyODcuOCwyNTkuM3oiLz4KPC9nPgo8L3N2Zz4K");

$default-image-1x1: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyODhweCIgaGVpZ2h0PSIyODhweCIgdmlld0JveD0iMCAwIDI4OCAyODgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI4OCAyODg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZD0iTTAsMHYyODhoMjg4di01LjV2LTEwLjNWMEgweiBNMTk0LjYsMTc4LjRsLTQzLjksMzkuN2wtNTcuOS03MS41TDI3LDIzNi40VjI3LjNoMjMzLjl2MjE3LjlMMTk0LjYsMTc4LjR6Ii8+CjxjaXJjbGUgY3g9IjE5MS4zIiBjeT0iMTA2LjEiIHI9IjIyLjciLz4KPC9zdmc+Cg==");

$default-profile-1x1: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyMTZweCIgaGVpZ2h0PSIyMTZweCIgdmlld0JveD0iMCAwIDIxNiAyMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxNiAyMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMjMxRjIwO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTA4LDkuN2M1NC4yLDAsOTguMyw0NC4xLDk4LjMsOTguM3MtNDQuMSw5OC4zLTk4LjMsOTguM1M5LjcsMTYyLjIsOS43LDEwOFM1My44LDkuNywxMDgsOS43IE0xMDgsMAoJCUM0OC40LDAsMCw0OC40LDAsMTA4czQ4LjQsMTA4LDEwOCwxMDhzMTA4LTQ4LjQsMTA4LTEwOFMxNjcuNiwwLDEwOCwwTDEwOCwweiIvPgo8L2c+CjxnPgoJPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMTA4IiBjeT0iMTAwLjYiIHI9IjM0Ii8+CjwvZz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwOCwyMDMuOWMyNi4zLDAsNTAuMS0xMC42LDY3LjQtMjcuN2MtMTEuMS0xNy43LTI2LjktMzEtNDUtMzdjLTYuNiwzLjgtMTQuMiw2LTIyLjQsNgoJYy04LjEsMC0xNS44LTIuMi0yMi40LTZjLTE4LjIsNi0zMy45LDE5LjMtNDUsMzdDNTcuOSwxOTMuNCw4MS43LDIwMy45LDEwOCwyMDMuOXoiLz4KPC9zdmc+Cg==");

$notice: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLDBDNC41LDAsMCw0LjUsMCwxMHM0LjUsMTAsMTAsMTBzMTAtNC41LDEwLTEwUzE1LjUsMCwxMCwweiBNMTEsMTZIOXYtMmgyVjE2eiBNMTEsMTJIOVY0aDJWMTJ6Ii8+Cjwvc3ZnPgo=");
